<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Country List -- Midterm</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">

</head>
<body>
<h1> List of Countries in the Database</h1>

<table th:unless="${#lists.isEmpty(countries)}">
    <tr>
        <th>Count</th>
        <th>Country Name</th>
        <th>Continent</th>
        <th>Details</th>
    </tr>
    <tr th:each="country, counter: ${countries}">
        <td th:text="${counter.count}">1</td>
        <td th:text="${country.name}">Canada</td>
        <td th:text="${country.continent}">North America</td>
        <td>
            <a href="CountryDetails.html" th:href="@{CountryDetails/{id}(id=${country.id})}">Details</a>
        </td>
    </tr>
</table>

</body>
</html>