<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Country Details -- Midterm</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<h1>Country Details</h1>
<main>
<div class=details th:object="${country}">
    <script th:inline="javascript">
        var country = [[${country.name}]];
    </script>
    <br>
    <label for="name">Country Name:</label>
    <span id=name th:text="*{name}"> </span><br><br>

    <label for="cont">Continent:</label>
    <span id=cont th:text="*{continent}"> </span><br><br>

    <label for="reg">Region:</label>
    <span id=reg th:text="*{region}"> </span><br><br>

    <label for="sa">Surface Area:</label>
    <span id=sa th:text="*{surfaceArea}"> </span><br><br>

    <label for="pop">Population:</label>
    <span id=pop th:text="*{population}"> </span><br><br>
</div>

<div id="flag">
<!--    Fetches flag from an API. If no flag displays a message -->
<script>
    axios.get("https://restcountries.eu/rest/v2/name/" + country)
        .then(response => {
            document.getElementById("flag").innerHTML = "<img class=c_flag src=" + response.data[0].flag + ">"
            // console.log(response.data[0].flag)
        })
        .catch(error => {
            document.getElementById("flag").innerHTML = "<p>Could not find flag data for this country</p>"
        })
</script>
</div>
</main>
<footer>Sheridan College - Kevin Theriault</footer>
</body>
</html>