<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Missing Data -- Midterm</title>
  <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">

</head>
<body>
<h1>Missing Data</h1>
<p>
  This is awkward.  There's no data here.  Try checking the format of your URL request or retrying the link.<br>
  <a href="/" th:href="@{/}">Go back to the List</a>

</p>
<footer>Sheridan College - Kevin Theriault</footer>

</body>
</html>